<div class="page-content">
    <div class="container-fluid bg-white  p-3">
        <div class="table-card">
            <table class="table table-bordered align-middle">
                <thead class="table-light">
                    <tr>
                        <th class="text-center">Meeting ID</th>
                        <th class="text-center">Meeting date</th>
                        <th class="text-center">Customer Name</th>
                        <th class="text-center">Check In Time</th>
                        <th class="text-center">Check Out Time</th>
                        <th class="text-center">Meeting MOM</th>
                        <th class="text-center">Remarks</th>
                        <th class="text-center">Action</th>
                    </tr>
                    <tr>
                     <th>
                       <input type="text" [(ngModel)]="filters['MeetingId']"  (input)="onfilterList()"
                         class="form-control" />
                     </th>
                     <th>
                        <div class="input-group position-relative">
                           <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="meetingDate"
                           [(ngModel)]="filters['MeetingDate']" bsDatepicker #dpL="bsDatepicker" 
                           [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false, containerClass: 'theme-dark-blue'}" (ngModelChange)="onfilterList()"
                           [class.disabled-input]="true" >
                         <span role="button" tabindex="0" class="ng-clear-wrapper clear-wrapper" title="Clear date"
                           *ngIf="filters['MeetingDate']" (click)="clearDate()">
                           <span aria-hidden="true" class="ng-clear clear">×</span>
                         </span>
                         <button type="button" class="btn btn-sm btn-outline-secondary ri-calendar-line" (click)="dpL.toggle()">
                         </button>
                       </div>
                     </th>
                     <th>
                       <input type="text" [(ngModel)]="filters['CustomerName']"  (input)="onfilterList()"
                         class="form-control" />
                     </th>
                     <th>
                       <input type="text" [(ngModel)]="filters['CheckIn']"  class="form-control" (input)="onfilterList()" />
                     </th>
                     <th>
                       <input type="text" [(ngModel)]="filters['CheckOut']"  (input)="onfilterList()"
                         class="form-control" />
                     </th>
                     <th></th>
                     <th></th>
                     <th></th>
                   </tr>
                </thead>
                <tbody class="list form-check-all">
                    <tr *ngFor="let item of MOMList">
                        <td class="text-center">
                            <a href="javascript:void(0)" class="fw-semibold text-decoration-underline" (click)="onMeetingClick(item.meetingId)"
                            [ngClass]="{ 'text-danger': isRowActive(item) }">{{ item.meetingId }}</a>
                        </td>
                        <td class="text-center">{{ item.meetingDate?(item.meetingDate):'--' }}</td>
                        <td class="text-center">{{ item.custnm }}</td>
                        <td class="text-center">{{ item.checkIn ?(item.checkIn) :'--' }}</td>
                        <td class="text-center">{{ item.checkOut ? (item.checkOut ):'--' }}</td>
                        <td style="max-width: 240px; min-width: 240px;">
                            <ng-select [items]="meetingMom" bindLabel="moM" bindValue="moM" placeholder="Search Mom" class="fixed-ng-select"
                            [readonly]="!isRowActive(item)" [(ngModel)]="item.meetingMOM"
                                [ngClass]="{
                                'border-danger': isRowActive(item) && (!item.meetingMOM || item.meetingMOM.length === 0)
                                }">
                                <ng-template ng-option-tmp let-item="item">
                                    <span [title]="item.moM">{{ item.moM }}</span>
                                </ng-template>
                            </ng-select>
                            <div class="text-danger small"
                            *ngIf="isRowActive(item) && (!item.meetingMOM || item.meetingMOM.length === 0)">
                            Meeting MOM is required
                            </div>
                        </td>
                        <td>
                            <textarea rows="1" class="form-control form-control-sm" placeholder="Remarks"
                            [disabled]="!isRowActive(item)"
                            [required]="isRowActive(item)" [(ngModel)]="item.remarks"
                            [ngClass]="{
                            'border-danger': isRowActive(item) && !item.remarks
                            }"></textarea>
                        <div class="text-danger small"
                            *ngIf="isRowActive(item) && !item.remarks">
                            Remarks is required
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="bg-blue text-light" style="border-radius: 3px;" (click)="onSubmit(item)" [disabled]="!isRowActive(item)" 
                            [ngClass]="{'disabled-button':!isRowActive(item)}">
                                Submit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
             <div *ngIf="loading && MOMList.length === 0" class="text-center border-found">
                 <lord-icon src="/assets/json/system-solid-716-spinner-three-dots-loop-scale.json" trigger="loop"
                   colors="primary:#121331,secondary:#08a88a" style="width: 100px; height: 100px">
                 </lord-icon>
               </div>
               <div class="noresult" *ngIf="!loading && MOMList.length == 0">
                 <div class="text-center">
                   <img src="assets/images/noData.png" height="200" width="300">
                   <h5 class="mt-2">Sorry! No Data Found</h5>
                 </div>
               </div>
        </div>
        <div class="d-flex justify-content-end align-items-center mt-3" *ngIf="MOMList.length != 0">
            <div class="m-3 mt-0"> Showing Total Records : <strong>{{totalItems}}</strong> </div>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
              (pageChange)="onPageChange($event)">
            </ngb-pagination>
        </div>
    </div>
</div>
<div>
</div>