<div class="page-content">
    <div class="container-fluid bg-white  p-3">
        <div class="table-card">
            <table class="table table-bordered align-middle">
                <thead class="table-light">
                    <tr>
                        <th>Meeting ID</th>
                        <th>Meeting date</th>
                        <th>Customer Name</th>
                        <th>Check In Time</th>
                        <th>Check Out Time</th>
                        <th>Meeting MOM</th>
                        <th>Remarks</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody class="list form-check-all">
                    <tr *ngFor="let item of MOMList">
                        <td>
                            <a href="javascript:void(0)" class="fw-semibold text-decoration-underline" (click)="onMeetingClick(item.meetingId)"
                            [ngClass]="{ 'text-danger': isRowActive(item) }">{{ item.meetingId }}</a>
                        </td>
                        <td>{{ item.meetingDate?(item.meetingDate | date:'dd/MM/yyyy'):'--' }}</td>
                        <td>{{ item.contactName }}</td>
                        <td>{{ item.checkIn ?(item.checkIn | date:'dd/MM/yyyy') :'--' }}</td>
                        <td>{{ item.checkOut ? (item.checkOut | date:'dd/MM/yyyy'):'--' }}</td>
                        <td style="max-width: 240px; min-width: 240px;">
                            <ng-select [items]="meetingMom" bindLabel="moM" bindValue="moM" placeholder="Search Mom" class="fixed-ng-select"
                            [readonly]="!isRowActive(item)" [(ngModel)]="item.meetingMOM"
                                [ngClass]="{
                                'border-danger': isRowActive(item) && (!item.meetingMOM || item.meetingMOM.length === 0)
                                }">
                                <ng-template ng-option-tmp let-item="item">
                                    <span [title]="item.moM">{{ item.moM }}</span>
                                </ng-template>
                            </ng-select>
                            <div class="text-danger small"
                            *ngIf="isRowActive(item) && (!item.meetingMOM || item.meetingMOM.length === 0)">
                            Meeting MOM is required
                            </div>
                        </td>
                        <td>
                            <textarea rows="1" class="form-control form-control-sm" placeholder="Remarks"
                            [disabled]="!isRowActive(item)"
                            [required]="isRowActive(item)" [(ngModel)]="item.remarks"
                            [ngClass]="{
                            'border-danger': isRowActive(item) && !item.remarks
                            }"></textarea>
                        <div class="text-danger small"
                            *ngIf="isRowActive(item) && !item.remarks">
                            Remarks is required
                            </div>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-outline-dark btn-sm fw-semibold" (click)="onSubmit(item)">
                                Submit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-end align-items-center mt-3" *ngIf="MOMList.length != 0">
            <div class="m-3 mt-0"> Showing Total Records : <strong>{{totalItems}}</strong> </div>
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
              (pageChange)="onPageChange($event)">
            </ngb-pagination>
        </div>
    </div>
</div>
<div>
</div>