.modal-header {
    display: flex;
    justify-content: space-between; /* Space between title and close button */
    align-items: center; /* Center vertically */
    padding: 1rem; /* Adjust padding if needed */
}
.disabled-icon{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    a {
        color: white;
        i {
          color: white !important;
        }
    }
}

.bg-color{
    background: rgb(128, 128, 128);
}

.bg-blue {
    background: #405189;
}

::ng-deep .popover {
    background-color: #ffffff !important; /* Change to your desired color */
    color: #000 !important; /* Text color */
  }
  
  ::ng-deep .popover-header {
    background-color: #c5c5c5 !important; /* Title background */
    color: #000 !important;
  }
  
  ::ng-deep .popover-body {
    background-color: #ffffff !important; /* Content background */
    color: #000 !important;
    padding: 8px;
  }
  