<div class="page-content">
  <div class="container-fluid">
    <!-- <div class="row">
      <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
          <h4 class="mb-sm-0">Expense Approval</h4>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row g-4 align-items-center">
               <!-- <div class="col-3 d-flex align-items-center">
                  <label class="me-2 mb-0">User</label>
                  <ng-select [items]="customerService.users" bindLabel="name" bindValue="userId" [placeholder]="'Search User'"
                    [clearable]="true" [searchable]="true" (change)="getExpenses()" [(ngModel)]="selectedUser" style="flex:1;">
                  </ng-select>
                </div> -->
                  <div class="col-2">
                  <div class="d-flex align-items-center">
                    <ng-select [items]="pageSizeList" bindLabel="label" bindValue="value" [(ngModel)]="pageSize" (change)="getExpenses()"
                      [searchable]="false" placeholder="Page Size" class="form-control p-0 me-2 clear-icon">
                    </ng-select>
                    <span class="text-nowrap">Records</span>
                  </div>
                  </div>
                <div class="col-3">
                  <div class="form-group mb-0 cursor-pointer" (click)="dp.toggle(); $event.stopPropagation()">
                    <div class="input-group shadow-sm rounded"><span class="input-group-text bg-white border-end-0 p-2"><i
                          class="ri-calendar-fill text-dark text-secondary"></i></span>
                      <input type="text" placeholder="Daterangepicker" class="form-control border-start-1 line-height" #dp="bsDaterangepicker" bsDaterangepicker (bsValueChange)="getExpenses($event)"
                        [(ngModel)]="dateRange" name="dateRange" [class.disabled-input]="true"   [bsConfig]="{rangeInputFormat: 'DD.MM.YYYY', dateInputFormat:
                                     'DD.MM.YYYY',ranges: commonService.ranges,containerClass: 'theme-dark-blue' }" style="flex:1;">
                    </div>
                  </div>
                </div>
                  <div class="col-3">
                    <div class="form-group mb-0">
                      <div class="input-group shadow-sm rounded">
                        <span class="input-group-text bg-white border-end-03px-2 border-start-1">
                          <i class="ri-group-fill text-dark text-secondary"></i>
                        </span>
                        <ng-select [items]="customerService.users" bindLabel="name" bindValue="userId" [placeholder]="'Search User'"
                          [clearable]="true" [searchable]="true" (change)="getExpenses()" [(ngModel)]="selectedUser"
                          class="form-control border-start-1 line-height p-0 border-remover">
                        </ng-select>
                      </div>
                    </div>
                  </div>
                 
                  <div class="col-sm-auto ms-auto">
                <div class="hstack gap-2">
                  <button class="btn btn-soft-danger" id="remove-actions" onClick="deleteMultiple()">
                    <i class="ri-delete-bin-2-line"></i>
                  </button>
                  
                  <button class="btn btn-square btn-primary pull-right rounded-3 ms-2" [disabled]="isExportLoading"
                    (click)="exportExpenses($event)">
                    <span *ngIf="isExportLoading" class="spinner-border spinner-border-sm"></span>
                    <i *ngIf="!isExportLoading" class="bi bi-download"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div>
              <div class="table-responsive table-card table-wrapper">
                <table class="table table-bordered align-middle position-table" id="customerTable">
                  <thead class="table-light">
                    <tr>
                      <th class="text-center"></th>
                      <th class="text-center">Meeting Id</th>
                      <th class="text-center">Expense No.</th>
                      <th class="text-center">Expense Date</th>
                      <th class="text-center">Customer Name</th>
                      <th class="text-center">Meeting Date</th>
                      <th class="text-center">Amount</th>
                      <th class="text-center">Status</th>
                      <th class="text-center">Req Id./Date</th>
                      <th class="text-center">RTGSNo</th>
                      <th class="text-center">Exp. Generated By</th>
                      <th class="text-center">Action</th>
                    </tr>
                    <tr>
                      <!-- <th><input type="checkbox" class="pure-checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"   [checked]="selectAll" [class.disabled-input]="isFilterApplied"></th> -->
                      <th><input type="checkbox" class="pure-checkbox" [(ngModel)]="selectAll" (change)="toggleSelectAll()"   ></th>
                      <th>
                        <input type="text" [(ngModel)]="filters['meetingId']" (input)="onStartTimeChange()"
                          class="form-control" />
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['expenseCode']" (input)="onStartTimeChange()"
                          class="form-control" />
                      </th>
                      <th>
                           <div class="input-group position-relative" style="width: 160px !important;">
                          <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="expenseDate"
                            [(ngModel)]="filters['ExpenseDate']" bsDatepicker #dpe="bsDatepicker"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false, containerClass: 'theme-dark-blue'}"
                            (ngModelChange)="onStartTimeChange()" readonly />
                          <span role="button" tabindex="0" class="ng-clear-wrapper clear-wrapper" title="Clear date"
                            *ngIf="filters['ExpenseDate']" (click)="clearDate()">
                            <span aria-hidden="true" class="ng-clear clear">×</span>
                          </span>
                          <button type="button" class="btn btn-sm btn-outline-secondary ri-calendar-line" (click)="dpe.toggle()">
                          </button>
                        </div>
                        <!-- <div class="input-group">
                          <input width="100%" class="form-control" placeholder="dd/mm/yyyy" name="d3" #c3="ngModel"
                            [(ngModel)]="filters['ExpenseDate']" ngbDatepicker (ngModelChange)="onStartTimeChange()"
                            #d3="ngbDatepicker" readonly />
                          <span role="button" (click)="clearDate()" tabindex="0" class="ng-clear-wrapper clear-wrapper"
                            title="Clear date" *ngIf="filters['ExpenseDate']">
                            <span aria-hidden="true" class="ng-clear clear">×</span>
                          </span>
                          <button class="btn btn-sm btn-outline-secondary ri-calendar-line" (click)="d3.toggle()"
                            type="button"></button>
                        </div> -->
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['contactName']" (input)="onStartTimeChange()"
                          class="form-control" />
                      </th>
                      <th>
                        <div class="input-group position-relative" style="width: 160px !important;">
                          <input type="text" class="form-control" placeholder="dd/mm/yyyy" name="meetingDate"
                            [(ngModel)]="filters['MeetingDate']" bsDatepicker #dpm="bsDatepicker"
                            [bsConfig]="{dateInputFormat: 'DD/MM/YYYY',showWeekNumbers: false, containerClass: 'theme-dark-blue'}"
                            (ngModelChange)="onStartTimeChange()" readonly />
                          <span role="button" tabindex="0" class="ng-clear-wrapper clear-wrapper" title="Clear date"
                            *ngIf="filters['MeetingDate']" (click)="clearmeetingDate()">
                            <span aria-hidden="true" class="ng-clear clear">×</span>
                          </span>
                          <button type="button" class="btn btn-sm btn-outline-secondary ri-calendar-line" (click)="dpm.toggle()">
                          </button>
                        </div>
                        <!-- <div class="input-group">
                          <input width="100%" class="form-control" placeholder="dd/mm/yyyy" name="d4" #c2="ngModel"
                            [(ngModel)]="filters['MeetingDate']" ngbDatepicker (ngModelChange)="onStartTimeChange()" #d4="ngbDatepicker"
                            readonly />
                          <span role="button" (click)="clearmeetingDate()" tabindex="0" class="ng-clear-wrapper clear-wrapper"
                            title="Clear date" *ngIf="filters['MeetingDate']">
                            <span aria-hidden="true" class="ng-clear clear">×</span>
                          </span>
                          <button class="btn btn-sm btn-outline-secondary ri-calendar-line" (click)="d4.toggle()" type="button"></button>
                        </div> -->
                      </th>
                      <th>
                        <input type="number" [(ngModel)]="filters['Amount']" (input)="onStartTimeChange()"
                          class="form-control" />
                      </th>
                      <th>
                        <input type="text" [(ngModel)]="filters['Status']" (input)="onStartTimeChange()"
                          class="form-control" />
                      </th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="list form-check-all">
                    <tr *ngFor="let expense of expenses; let i = index">
                      <th><input type="checkbox" class="pure-checkbox" [(ngModel)]="expense.isSelected" (change)="onRowSelect(expense)" [class.disabled-input]="expense.isManager_AuditApproved || expense.createdBy === identifyService.getLoggedUserId()||expense.isEdit==='Y'"></th>
                      <td class="text-center">{{ expense.meetingId ? expense.meetingId:'--' }}</td>
                      <td class="text-center">{{ expense.expenseCode ? expense.expenseCode:'--' }}</td>
                      <td class="text-center">{{ expense.expenseDate ?expense.expenseDate :'--'}}</td>
                      <td class="text-center">{{expense.contactName ? expense.contactName:'--' }}</td>
                      <td class="text-center">{{ expense.meetingDate ? expense.meetingDate :'--'}}</td>
                      <td class="text-center">{{ expense.amount ? expense.amount:'--' }}</td>
                      <td class="text-center">{{ expense.status ? expense.status:'--' }}</td>
                      <td class="text-center">{{ expense.reqId && expense.requestDate ? expense.reqId + '/' + expense.requestDate : (expense.reqId || expense.requestDate || '--') }}</td>                      
                      <td class="text-center">{{ expense.expenseRate ? expense.expenseRate:'--'}}</td>
                      <td class="text-center"> {{ expense.createdBy }}&nbsp;:&nbsp;{{ expense.userName }}</td>
                      <td>
                        <ul class="list-inline justify-content-center hstack gap-2 mb-0">
                          <li class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center cursor-pointer" data-bs-toggle="tooltip" data-bs-trigger="hover"
                            data-bs-placement="top" title="View" (click)="viewModal($event, expense)">
                            <a><i class="ri-eye-fill align-bottom text-muted edit-item-btn"></i></a>
                          </li>
                          <li [ngClass]="{'disabled-image cursor-not-allowed': expense.isManager_AuditApproved || expense.createdBy === identifyService.getLoggedUserId()}"  class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center cursor-pointer" data-bs-toggle="tooltip" data-bs-trigger="hover"
                            data-bs-placement="top" title="Approved" (click)="expense.isManager_AuditApproved ? null : approveModal($event, expense)">
                            <a [ngClass]="{'cursor-not-allowed': expense.isManager_AuditApproved || expense.createdBy === identifyService.getLoggedUserId()}"><i class="bi bi-check2-circle edit-item-btn"></i></a>
                          </li>
                        </ul>
                      </td>
                    </tr>
                  </tbody>
                </table>
                

                  <div *ngIf="loading && expenses.length === 0" class="text-center border-found">
                <lord-icon src="/assets/json/system-solid-716-spinner-three-dots-loop-scale.json" trigger="loop"
                  colors="primary:#121331,secondary:#08a88a" style="width: 100px; height: 100px">
                </lord-icon>
            </div>
            
                <div class="noresult" *ngIf="!loading && expenses.length == 0">
                  <div class="text-center">
                    <!-- <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                      colors="primary:#121331,secondary:#08a88a" style="width: 75px; height: 75px"></lord-icon> -->
                    <img src="assets/images/noData.png" height="200" width="300">
                    <h5 class="mt-2">Sorry! No Data Found</h5>
                  </div>
                </div>
              </div>
              <div class="row">
                <div *ngIf="selectedAny" class="d-flex gap-2 col-8 justify-content-center align-items-center">
                  <button class="btn btn-success" (click)="openReasonSwal('Approve')">Approve</button>
                  <button class="btn btn-danger" (click)="openReasonSwal('Reject')">Reject</button>
                </div>
                <div class="d-flex justify-content-end align-items-center col-sm-auto ms-auto mt-3" *ngIf="expenses.length != 0">
                  <div class="m-3 mt-0"> Showing Total Records : <strong>{{totalItems}}</strong> </div>
                  <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
                    (pageChange)="onPageChange($event)">
                  </ngb-pagination>
                </div>
              </div>

            </div>
            <div class="modal fade" id="showApproveExpense" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true" data-bs-backdrop="static"
              data-bs-keyboard="false">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Expense Approve
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                      id="close-modal"></button>
                  </div>
                  <div *ngIf="isAddExpenseApprovedLoad">
                  <app-approve-expense [expenseResponse]="selectedExpense"
                    (onClose)="closeEditModal()"></app-approve-expense>
                    </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="showModalDetail" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header bg-light p-3">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Expense Detail
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                      id="close-modal"></button>
                  </div>
                  <app-expense-detail [expenseResponse]="selectedExpense"></app-expense-detail>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="Remarkmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog custom-top-modal">
    <div class="modal-content">
      <h5 class="p-2 m-0 bg-color">Are you want to {{permissionType}}?</h5>
     <div class="p-3 pt-2">
      <div>
        <label>Remarks</label>
        <textarea type="text" [(ngModel)]="reasonRemark" class="w-100 form-control" #remarksInput="ngModel"  minlength="5" required>
          </textarea>
        <div *ngIf="remarksInput.invalid && remarksInput.touched" class="text-danger">
          <small *ngIf="remarksInput.errors?.['required']">Remarks are required.</small>
          <small *ngIf="remarksInput.errors?.['minlength']">Remarks must be at least 5 characters long.</small>
        </div>
      </div>
      <div class="button-group gap-2  d-flex justify-content-end p-3">
        <button [disabled]="remarksInput.invalid" (click)="onSubmit()"
          class="btn btn-success d-flex align-items-center mr-2">
          Yes
        </button>
      <button type="button" data-bs-dismiss="modal" class="btn btn-danger d-flex align-items-center" (click)="onCancel()">No</button>
      </div>
     </div>
    </div>
  </div>
</div>

