<div class="page-content">
  <div class="container-fluid bg-white">
    <div class="bg-white py-3" style="border-radius: 3px;">
      <div class="row">
        <div class="col-3">
          <div class="form-group mb-0 cursor-pointer" (click)="dp.toggle(); $event.stopPropagation()">
            <div class="input-group shadow-sm rounded"><span class="input-group-text bg-white border-end-0 p-2"><i
                  class="ri-calendar-fill text-dark text-secondary"></i></span>
              <input type="text" placeholder="Daterangepicker"  #dp="bsDaterangepicker" class="form-control border-start-1 line-height"
                bsDaterangepicker [(ngModel)]="dateRange" name="dateRange" (bsValueChange)="getCustomerfilters($event)" [class.disabled-input]="true" 
                 [bsConfig]="{ ranges: ranges ,rangeInputFormat: 'DD.MM.YYYY', dateInputFormat:
                                     'DD.MM.YYYY',containerClass: 'theme-dark-blue'}" >
            </div>
          </div>
        </div>
          <div class="col-sm-auto ms-auto d-flex align-items-center">
            <button class="btn btn-square btn-primary pull-right rounded-3 ms-2" [disabled]="isExportLoading"
              (click)="exportCustomers($event)">
              <span *ngIf="isExportLoading" class="spinner-border spinner-border-sm"></span>
              <i *ngIf="!isExportLoading" class="bi bi-download"></i>
            </button>
          </div>
      </div>
    </div>

    <app-card-list [getfilter]="getfilter"></app-card-list>

    <ng-container *ngIf="isCardLoading">
      <div class="d-flex flex-row flex-nowrap w-100 p-2 pe-0" style="overflow-x: auto;">
        <div class="fade-in" *ngFor="let item of placeholderArray" style="margin: 4px 8px;">
          <div class="card box-shadow border placeholder-card">
            <div class="card-body p-4 pt-3">
              <div class="mb-2">
                <div class="placeholder-line w-100 mb-1"></div>
                <div class="placeholder-line w-100 mb-1"></div>
              </div>
              <div class="placeholder-line w-100 mb-1"></div>
              <div class="placeholder-line w-100 mb-1"></div>
              <div class="placeholder-line w-100 mb-1"></div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="row p-3">
      <div class="col-lg-12">
        <div class="table-responsive table-card">
          <table class="table table-bordered align-middle" id="customerTable">
            <thead class="table-light">
              <tr>
                <th>Customer Name</th>
                <th>Sales</th>
                <th>Sales YTD</th>
                <th>O/S as on Date</th>
                <th class="text-center">Action</th>
              </tr>
              <tr>
                <th>
                  <input type="text" [(ngModel)]="filters['CustomerName']" (input)="onStartTimeChange()"
                    class="form-control" />
                </th>
                <th>
                  <input type="text" [(ngModel)]="filters['SalesMonth']" (input)="onStartTimeChange()"
                    class="form-control" />
                </th>
                <th>
                  <input type="text" [(ngModel)]="filters['SalesYear']" (input)="onStartTimeChange()"
                    class="form-control" />
                </th>
                <th>
                  <input type="text" [(ngModel)]="filters['OsOnDate']" (input)="onStartTimeChange()" class="form-control" />
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list form-check-all">
              <tr *ngFor="let customer of customers; let i = index">
                <td class="truncate-text ">{{customer.customerCode}}:{{ customer.customerName }}</td>
                <td class="truncate-text">{{ customer.salesMonth }}</td>
                <td class="truncate-text">{{ customer.salesYear }}</td>
                <td class="truncate-text">{{ customer.oSonDate }}</td>
                <td>
                  <ul class="list-inline hstack d-flex justify-content-center gap-2 mb-0">
                    <li
                      class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center cursor-pointer"
                      [popover]="'Call'" placement="auto" triggers="hover" [outsideClick]="true" container="body">
                      <a href="#" (click)="callModal($event,customer)">
                        <i class="ri-phone-line fs-16 edit-item-btn"></i>
                      </a>
                    </li>
                    <li
                      class="list-inline-item disabled-icon bg-blue d-flex justify-content-center align-items-center cursor-pointer"
                      [popover]="'Meeting'" placement="auto" triggers="hover" [outsideClick]="true" container="body">
                      <a href="#" (click)="meetingModal($event,customer)">
                        <i class="ri-team-fill align-bottom text-muted edit-item-btn"></i>
                      </a>
                    </li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                      title="Task">
                      <a class="edit-item-btn" href="#"><i class="ri-note align-bottom text-muted"></i></a>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="loading && customers.length === 0" class="text-center border-found">
            <lord-icon src="/assets/json/system-solid-716-spinner-three-dots-loop-scale.json" trigger="loop"
              colors="primary:#121331,secondary:#08a88a" style="width: 100px; height: 100px">
            </lord-icon>
          </div>
          <div class="noresult" *ngIf="!loading && customers.length == 0">
            <div class="text-center">
              <img src="assets/images/noData.png" height="200" width="300">
              <h5 class="mt-2">Sorry! No Data Found</h5>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end align-items-center mt-3" *ngIf="customers.length != 0">
          <div class="m-3 mt-0"> Showing Total Records : <strong>{{totalItems}}</strong> </div>
          <ngb-pagination class="pagination" [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize"
            [maxSize]="3" (pageChange)="onPageChange($event)">
          </ngb-pagination>
        </div>
    
        <div class="modal fade" id="showModalMeeting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          data-bs-backdrop="static" data-bs-keyboard="false">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div *ngIf="isMeetingLoad">
                <app-add-meeting (dataEmitter)="closeMeetingModal()" [checkOutValue]="checkOutValue" [isMeetingList]="'Add'"
                  [meetingResponse]="selectedCustomerName"></app-add-meeting>
              </div>
            </div>
          </div>
        </div>
    
        <div class="modal fade" id="showModalCall" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
          data-bs-backdrop="static" data-bs-keyboard="false">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div *ngIf="isCallLoad">
                <app-add-call (dataEmitter)="closeCallModal()" [callResponse]="selectedCustomerName"
                  [isCallList]="'Add'"></app-add-call>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>